<html>
<head>
  <title>Login</title>
</head>
<body style="background-image: url(https://s1.1zoom.me/b5050/891/345094-admin_1920x1080.jpg)">
  <div class="container" style="border: 20px;">
  <h3 align="center" style="color:cornsilk"><b>Login</b></h3><br><br>
  <form>
    <div class="row">
      <div class="col-12">
      <label for="exampleInputEmail1" class="form-label" style="color:cornsilk">Username</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

      <div id="emailHelp" class="form-text"></div>
    </div>
    </div><br><br>
    <div class="row" >
      <div class="col-12">
        <label for="inputPassword5" class="form-label" style="color:cornsilk" >Password</label>
      <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
      <br>
        <div id="passwordHelpBlock" class="form-text"></div>
      </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-12">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1" style="color:cornsilk"><span><b>Check me out</b></span></label>
        </div>
      </div><br>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
  </body>
<html>
